#game {
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-areas:
        "div div div div"
        "div div div div"
        "div div div div"
        "div div div div";
        
    grid-gap: 10px;
}

.a1flipped, .a2flipped, .b1flipped, .b2flipped, .c1flipped, .c2flipped, .d1flipped, .d2flipped, .e1flipped, .e2flipped,.f1flipped,.f2flipped,.g1flipped,.g2flipped,.h1flipped,.h2flipped {
    background-image: url('https://coderwall-assets-0.s3.amazonaws.com/uploads/picture/file/642/humans.jpeg');
    background-repeat: no-repeat;
}

.a1flipped, .a2flipped {
  background-position: 0 0;
 
}

.b1flipped, .b2flipped {
  background-position: 0 -150px;
 
}
.c1flipped, .c2flipped {
  background-position: -150px 0;
 
}
.d1flipped, .d2flipped {
  background-position: -150px -150px;
 
}
.e1flipped, .e2flipped {
  background-position: -300px 0px;
 
}
.f1flipped, .f2flipped {
  background-position: -300px -150px;
 
}

.g1flipped, .g2flipped {
  background-position: -450px 0px;
 
}

.h1flipped, .h2flipped {
  background-position: -450px -150px;
 
}
#game div {
background-color:brown;}

#seconds-counter, #reset, #moves{
    display: inline-block;
  font-style: normal;
  line-height: 30px;
  text-indent: 0.2em;
  text-shadow: 1px 0 1px hsl(0, 0%, 70%);
  border-radius: .22em;
  color: white;
    padding:5px;
    margin:5px;
}
.rating {display:inline-block;}
.rating span {
  width: 20px;
  height: 20px;
  background: yellow;
  border-width: 3px;
  border-style: solid;
  border-color: #eee;
    padding:5px;
}

#reset {
  width: 20px;
  height: 20px;
  background: blue  ;
    border-width: 3px;
  border-style: solid;
  border-color: #eee;
}
#moves {background: green;}
#seconds-counter {
  width: 20px;
  height: 20px;
  background: red  ;
       border-width: 3px;
  border-style: solid;
  border-color: #eee;
    }
.off {background:#fff!important;color:black;}